

      .image-card1 {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        background-color: aliceblue;
        flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
      }
      
      .image-container1 {
        text-align: center;
        margin: 10px;
      }
      
      .image-container1 img {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
      
      .image-container1 h5 {
        margin-top: 10px;
        font-size: 16px;
        color: #333;
      }
      
      .image-container1 p {
        color: black;
        margin-top: 5px;
        font-style: italic;
      }
      